*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue'
}

html,body{
  height: 100%;
  width: 100%;
  /* background-color: black; */
  color: white;
}


.section{
  background-color: blue;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.allProducts{
  display: flex;;
   flex-wrap: wrap;
  gap: 20px;
  /* background-color: yellow; */
  background-color: black;
}

.product{
 display: block;
 width: 300px;
 text-align: center;
 background-color: white;
 text-align: center;
 padding: 20px;
 border-radius: 10px;
 text-decoration: none;
}

.product img{
  height: 200px ;
  object-fit: cover;
  object-position: top;
  width: 100%;
}

.product h2{
  font-size: 20px;
  margin-top: 20px;
}

.home{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  
}
.home h1{
  font-size: 70px;
  margin: 20px;
  font-weight: 400;
}

.cta{
 padding: 20px 40px;
 background-color: lightseagreen;
 color: white;
 border: none;
 font-size: 20px;
 border-radius: 10px;
 font-weight: 600;
 cursor: pointer;
}

:active.cta{
    transform: scale(0.95);
    background-color: aqua;
    transition: transform 0.2s ease;  
}